*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .buttons{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  .calculator-screen{
    text-align: end;
    border: solid 4px rgb(0, 31, 0);
    border-radius: 10px;
  }
 .calculator {
    background-color: rgb(0, 145, 39);
    width: 300px;
    height: 50vh;
    box-shadow: 25px 25px rgb(0, 31, 0);
    border: solid rgb(0, 31, 0) 5px;
    border-radius: 20px;
    margin-top: 150px;
}

body{
    background-color: lightseagreen;
}
#AC, #Del{
    background-color: crimson;
}
.num{
    color: rgb(0, 31, 0);
    border:  none;
}
#equal{
    grid-column: span 3;
}


@media screen and (max-width: 300px) {
    .calculator {
        width: 100%;
    }
    
}

    
